<!DOCTYPE html>
<html>
  <head>
    <meta content="utf-8" />
    <title>Ruby on Rails Tutorial Sample App | <%= @page_title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
